// colors

$red: #EC3A33;
$roboto: 'Roboto', sans-serif;
$openSans: 'Open Sans', sans-serif;


// global

main {
  margin-top: 110px;
  @include breakpoint( small only ){
    margin-top: 50px;
  }
}
*:focus {
    outline: none;
}
a {
  transition: color .2s ease-in-out,
    background-color .2s ease-in-out;
    &:focus {
      color: $red;
    }
}
.padding-remove {
  @include breakpoint(small only) {
    padding-left: 0;
    padding-right: 0;
  }
}

// button

.button-group {
  margin: 0;
}
.button {
  background: #000;
  &:hover {
    background: $red;
  }
  &.outline {
    border: 1px solid #fff;
    color: #fff;
    background: rgba(0,0,0,0);
    text-transform: uppercase;
    font-size: 18px;
    font-family: $roboto;
    font-weight: 400;
    padding: 10px 30px;
    &:hover {
      background: #fff;
      color: #000;
    }
  }
  &.red {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-family: $roboto;
    font-weight: 700;
    padding: 16px 40px;
    min-width: 210px;
    background: $red;
    &:hover {
      background: #000;
    }
  }
}


// nav
.fixed-nav {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 110px;
  z-index: 999;
  @include breakpoint( small only ){
    min-height: 50px;
  }
}

.menu-toggle {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: $red;

}
.site-header {

  background: #fff;
  @include breakpoint( small only ){
    min-height: 50px;
    position: relative;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.22);
  }
  min-height: 110px;
  @include flex-align(center,middle);
}

.logo-emblem {
  display: inline-block;
  img {
    @include breakpoint(small only) {
      width: 100%;
      max-width:48px;
    }
    max-width: 94px;
  }

}

.logo-text {
  top: 8px;
  position: relative;
  font-size: 2rem;
  padding-left: 26px;
  display: inline-block;
  font-family: $roboto;
  font-weight: 900;
  color: $red;
  &:hover {
    color: #000;
  }
  @include breakpoint(small only) {
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
}
.nav-link {
  font-size: 18px;
  line-height: 29px;
  font-family: $roboto;
  font-weight: 700;
  text-transform: uppercase;
  color: $red;
  padding-right: 64px;
  &:hover {
    color: #000;
  }
}

.nav-button {
  white-space: nowrap;
  top: -2px;
  position: relative;
  font-size: 18px;
  background: $red;
  line-height: 29px;
  font-family: $roboto;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  padding: 10px 34px;
  &:hover {
    background: #000;
  }

}

// page content
.hero {

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('../img/bg-hero.jpg');
  min-height: 640px;
  position: relative;

  @include breakpoint(small only) {
    min-height: 440px;
    background-position: left;
  }
  & > .cell{
    position: relative;
    z-index: 10;
  }
  &:after {
    content: '';
    position: absolute;
    background-color: rgba(0,0,0,.67);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;

  }
  h1 {
    text-transform: uppercase;
    font-size: 48px;
    color: #fff;
    font-weight: 900;
    font-family: $roboto;
    line-height: 54px;
    padding-bottom: 39px;
    @include breakpoint(small only) {
      font-size:47px;
      line-height: 47px;
      max-width: 290px;
      margin: 0 auto;
    }
  }
  p {
    max-width: 800px;
    margin: 0 auto;
    color: #fff;
    font-family: $openSans;
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    padding: 0 20px 80px 20px;
    @include breakpoint(small only) {
      font-size: 14px;
      line-height: 20px;
      padding: 0 20px 40px 20px;
    }
  }
  .button-group {
    margin: 0 auto;
    display: block;
  }
}

.three-up-content-row {
  min-height: 600px;
  padding-top: 110px;
  padding-bottom: 110px;
  @include breakpoint(small only) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .col-container {
    max-width: 900px;
    .cell {
      padding-left: 22px;
      padding-right: 22px;
    }
  }
  h1 {
    font-family: $roboto;
    font-size: 34px;
    line-height: 38px;
    font-weight: 900;
    text-transform: uppercase;
    color: $red;
    padding-bottom: 68px;
    @include breakpoint(small only) {
      font-size: 21px;
      line-height: 23px;
    }
  }

  figure {
    width: 100%;
    padding-bottom: 40px;
    img {
      margin: 0 auto;
      display: block;

    }
  }
  h2 {
    font-weight: 900;
    font-size: 18px;
    font-family: $roboto;
    line-height: 25px;
    color: $red;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 14px;

  }
  p {
    font-family: $openSans;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    @include breakpoint(small only) {
      text-align: center;
      font-size: 14px;
      padding-bottom: 40px;
    }
  }
  .button-group {
    padding-top: 110px;
    @include breakpoint(small only) {
      padding-top: 0px;
    }
  }
}


// mobile

.mobile-login {
  width: 100%;
  display: block;
  background: $red;
  color: #fff;
  text-transform: uppercase;
  font-family: $roboto;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 14px;
  &:hover {
    color: #fff;
    background: #000;
  }
}

.login-form {
  padding: 0;

  .input-group {
    padding: 0px 77px 30px 77px;
    @include breakpoint(small only) {
      padding: 0px 20px 10px 20px;

    }
  }
  h2 {
    padding: 60px 0;
  	color: $red;
  	font-family: $roboto;
  	font-size: 34px;
  	font-weight: 900;
  	line-height: 32px;
  	text-align: center;
    text-transform: uppercase;
    @include breakpoint(small only) {
      font-size: 24px;
      padding: 10px 0 20px 0;

    }
  }

  [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
    border: none;
    border-bottom: 1px solid #d2d2d2;
    box-shadow: inset 0 0 0 transparent;
    padding: 0;
  }
  p {
    text-align: center;
    padding: 0;
    margin: 0;
    a {
      text-transform: uppercase;
      color: #d2d2d2;
      &:hover {
        color: #000;
      }
    }
  }

  .button-group .button {
    padding: 1.45em 1em;
    font-family: $roboto;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 0;
    @include breakpoint(small only) {
      padding: 1.1em 1em;

    }
    &.left {
      background: #d2d2d2;
      &:hover {
        background: #000
      }
    }
    &.right {
      background: $red;
      &:hover {
        background: #000;
      }
    }
  }
}
